{% load static %}
<!DOCTYPE html>
<html lang=ru>
  <head>
    <meta charset=utf-8>
    <meta name="author" content="Сергей Лисаков">
    <meta property="og:site_name" content="phys.pro">
    <meta property="og:title" content="{% if problem.id %}#{{problem.id}} — {% endif %}{% if variant.id %}Вариант #{{variant.id}}—{% endif %}Физалис"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if problem.id %}#{{problem.id}} — {% endif %}{% if variant.id %}Вариант #{{variant.id}}—{% endif %}Физалис</title>
    <link href="/media/favicon.svg" rel="icon">
    <link rel=stylesheet href={% static 'css/style.css'%}>
    {% comment %}
    {% include "includes/mj.html" %}
    <script async src={% static 'js/tex-mml-chtml.js'%}></script>
    {% endcomment %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=STIX+Two+Text" />
  </head>
  <body>
    <header>
      {% include "includes/nav.html" %}
    </header>
    <main>
      {% block content %}Пусто :({% endblock %}
    </main>
  </body>
</html>
