{% load static %}
<!DOCTYPE html>
<html lang=ru>
  <head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{% if problem.id %}#{{problem.id}} — {% endif %}{% if variant.id %}Вариант #{{variant.id}}—{% endif %}Физалис</title>
    <script>
      window.MathJax = {
        tex: {
          inlineMath: [['$', '$']],
          macros: {
            eds: "\\mathcal{E}",
            la: "\\lambda",
            Ftr: "F_\\text{тр}",
            tg: "\\text{tg}",
            ctg: "\\text{ctg}",
            arctg: ["\\text{arctg}\\; #1", 1],
            ans: "\\text{Ответ:} \\underline{\\hspace{3cm}}",
            a: "\\alpha",
            b: "\\beta",
            f: "\\varphi",
            tga: "\\tg{\\alpha}",
            ctga: "\\ctg{\\alpha}",
            tgb: "\\tg{\\beta}",
            tgf: "\\tg{\\varphi}",
            sina: "\\sin{\\alpha}",
            cosa: "\\cos{\\alpha}",
            sinb: "\\sin{\\beta}",
            cosb: "\\cos{\\beta}",
            sinf: "\\sin{\\varphi}",
            cosf: "\\cos{\\varphi}",
            dx: "\\Delta x",
            dE: "\\Delta E",
            dU: "\\Delta U",
            dT: "\\Delta T",
            dt: "\\Delta t",
            deg: "^\\circ",
            degc: "\\,{}^\\circ\\text{C}"
          }
        }
      };
    </script>
    <script async src={% static 'js/tex-mml-chtml.js'%}></script>
    <link rel=stylesheet href={% static 'css/style.css'%}>

  </head>
  <body>
    <header>
      {% include "includes/nav.html" %}
    </header>
    <main>
      {% block content %}Пусто :({% endblock %}
    </main>
  </body>
</html>
