{% load static %}
<!DOCTYPE html>
<html lang=ru>
  <head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if problem.id %}#{{problem.id}} — {% endif %}{% if variant.id %}Вариант #{{variant.id}}—{% endif %}Физалис</title>
    <link rel=stylesheet href={% static 'css/style.css'%}>
    {% comment %}
    {% include "includes/mj.html" %}
    <script async src={% static 'js/tex-mml-chtml.js'%}></script>
    {% endcomment %}
  </head>
  <body>
    <header>
      {% include "includes/nav.html" %}
    </header>
    <main>
      {% block content %}Пусто :({% endblock %}
    </main>
  </body>
</html>
