{% extends "base.html" %}
{% load static %}
{% block content %}

    <h1>Задачи по типам ЕГЭ-2024</h1>

    <div class='row types-list'>
      <div style='display:none;'>
      {% for type in types %}
        {% if type.number <= 30 %}
        {% ifchanged type.part_ege %}
        </div>
        <div class='col5'>
          <h2>{{type.part_ege}}</h2>
        {% endifchanged %}
          <div> <a href="{{ type.get_absolute_url }}"> {% if type.number < 10 %}<span class='white types-item'>0</span>{% endif %}<span class='types-item'>{{ type.number }}</span> [{{type.problems_count}} шт.] </a> </div>
        {% endif %}
      {% endfor %}
      </div>
    </div>

    <p class=mt30>
    Не всем задачам на сайте присвоен тип ЕГЭ. Все задачи можно найти на странице
    <a href=/problems/>Задачи.</a> Например, задачи олимпиадного уровня можно
    найти по фильтру <a href=/problems/?complexity_min=8&complexity_max=10>сложность 8-10.</a>
    </p>

{% endblock %}
