{% extends "base.html" %}
{% load static %}
{% block content %}

    <h1>Задачи по типам ЕГЭ-{% now "Y" %}</h1>

    <div class='row types-list'>
      <div style='display:none;'>
      {% for type in types %}
        {% if type.number <= 30 %}
        {% ifchanged type.part_ege %}
        </div>
        <div class='col5'>
          <h2>{{type.part_ege}}</h2>
        {% endifchanged %}
          <div class=type> <a href="{{ type.get_absolute_url }}"> {% if type.number < 10 %}<span class='white types-item'>0</span>{% endif %}<span class='types-item'>{{ type.number }}</span> [{{type.problems_count}} шт.] </a> </div>
        {% endif %}
      {% endfor %}
      </div>
    </div>

    <p class=mt30>
      Не всем задачам на сайте присвоен тип ЕГЭ текущего года.
    </p>

    <p>
      Некоторые задания имеют тип вида «2306».
      Это значит, что данное задание было под номером 6
      на экзамене в 2023 году, но с тех пор структура экзамена
      изменилась.
    </p>

    <p>
      <b>Все</b> задачи перечислены на странице <a href=/problems/>Задачи.</a>
      Из них можно выбрать задачи олимпиадного уровня, если поставить фильтр на 
      <a href=/problems/?complexity_min=8&complexity_max=10>сложность 8-10.</a>
    </p>

{% endblock %}
