{% extends "base.html" %}
{% load markdown_extras %}
{% load save_parameters %}
{% load static %}

{% block content %}
  <h2>{{title}}</h2>

  <form method="get" class="no-print">
    {{ filter.form.as_p }}
    <input type="submit" />
  </form>

  <h6>Сортировать по</h6>
  <p><a href="?{% param_save order_by="complexity" %}">Сложности</a></p>
  <p><a href="?{% param_save order_by="date" %}">Дате добавления</a></p>


  {% for variant in variants %}
    <div class="rel">
      <div class="id-in-list">
        <a href="{{variant.get_absolute_url}}"><b class='id-number'>#{{variant.id}}</b></a>
        <span class="compl">Сложность: {{variant.complexity}}</span>&nbsp;
        <span class="compl no-solution">{% if not variant.is_full %}Неполный{% endif %}</span>
      </div>
    <div>{{variant.text|markdown|safe}}</div>
    </div><hr>
{% empty %}
  <p>Ничего не нашлось {{":("}}</p>
  <p>Попробуйте другой фильтр.</p>
{% endfor %}

{% endblock %}