{% extends "base.html" %}
{% load markdown_extras %}
{% load save_parameters %}
{% load static %}

{% block content %}
  <h2>{{title}}</h2>

  <form method="get" class="no-print">
    {{ filter.form.as_p }}
    <input type="submit" />
  </form>

  <div class=center-flex><h3>Сначала показывать</h3></div>
  <div class="center-flex mb10 mt-5 sans fs12"> 
    <a class='var-sort{% if "=complexity" in request.get_full_path %} current {% endif %}' href="?{% param_save order_by="complexity" %}">Легкие</a>
    <a class='var-sort{% if "=-complexity" in request.get_full_path %} current {% endif %}' href="?{% param_save order_by="-complexity" %}">Сложные</a>
    <a class='var-sort{% if "=id" in request.get_full_path %} current {% endif %}' href="?{% param_save order_by="id" %}">Старые</a>
    <a class='var-sort{% if "=-id" in request.get_full_path %} current {% endif %}' href="?{% param_save order_by="-id" %}">Новые</a>
  </div>

  {% include "includes/pagination.html" %}

  {% for variant in page_obj %}
    <div class="rel">
      <div class="var-id-in-list">
        <a href="{{variant.get_absolute_url}}"><b class='id-number'>#{{variant.id}}</b></a>
        <span class="compl">Сложность: {{variant.complexity}}</span>&nbsp;
        <span class="compl no-solution">{% if not variant.is_full %}Неполный{% endif %}</span>
      </div>
      <div>{{variant.text|markdown|safe}}</div>
    </div><hr>
    {% empty %}
    <p>Ничего не нашлось {{":("}}</p>
    <p>Попробуйте другой фильтр.</p>
  {% endfor %}

  {% include "includes/pagination.html" %}

{% endblock %}
