{% extends "base.html" %}
{% load markdown_extras %}
{% load save_parameters %}
{% load abbr %}
{% load static %}

{% block content %}
  <h2>Вариант #{{ variant.id }}</h2>
  <p>Сложность: {{ variant.complexity }}/10</p>
  {{ variant.text |markdown|safe }}

  {% for problem in variant.get_problems %}
    #{{ forloop.counter }} (тип {{problem.type_ege.number}})
    <div class="problem">{{problem.text|markdown|abbr|safe}}</div>
  {% endfor %}
  {% if variant.show_answers %}<a href={{variant.get_answers_url}}>Перейти к ответам{% endif %}
{% endblock %}
