{% extends "base.html" %}
{% load markdown_extras %}
{% load save_parameters %}
{% load abbr %}
{% load static %}

{% block content %}
  <h2>Ответы на вариант <a href='/variants/{{variant.id}}'>#{{variant.id}}</a></h2>

  {% for problem in variant.get_answers %}
  <div class="card">
    <span class='id-in-var'>{{ forloop.counter }}</span>
    <span class="compl">Задача <a href='/problems/{{problem.id}}'>#{{problem.id}}</a></span>
    {% if problem.complexity%}<span class="compl">Сложность {{problem.complexity}}/10</span>{% endif %}
    <div class="problem">{{problem.text|markdown|safe}}</div>
    {% if problem.solution%}<h4>Решение</h4><div class="solution">{{problem.solution|markdown|safe}}</div>{% endif %}
    {% if problem.answer%}<h4>Ответ </h4><div class="answer">{{problem.answer|markdown|safe}}</div>{% endif %}
    Максимальный балл: {{problem.type_ege.max_score}}
  <div><hr>
  {% endfor %}

{% endblock %}
