{% extends "base.html" %}
{% load markdown_extras %}
{% load ziamath_filter %}
{% load save_parameters %}
{% load abbr %}
{% load static %}

{% block content %}
  <h1>Вариант #{{ variant.id }}</h1>
  <div class=no-print>
    {{ variant.text|markdown|safe }}
    <p>Сложность: {{ variant.complexity }}/10 </p>
    <p><a href=/media/files/const.pdf>Справочные данные</a></p>
    {% if variant.pdf_file %} <p><a href="{{ variant.pdf_file.url }}">Скачать PDF</a></p> {% endif %}
  </div>

  {% if variant.is_full %}
  <h2 class=center-flex>Часть 1</h2>
    <div class=instruction> Ответами к заданиям 1-23 являются число или последовательность цифр. Ответ запишите в поле ответа в тексте работы, а затем перенесите в БЛАНК ОТВЕТОВ №&nbsp;1 справа от номера соответствующего задания, начиная с первой клеточки. Каждый символ пишите в отдельной клеточке в соответствии с приведёнными в бланке образцами. Единицы измерения физических величин писать не нужно. </div>
  {% endif %}

  {% for problem in variant.get_problems %}
      <div class="problem">
        <span class='id-in-var'>{{ forloop.counter }}</span>  {% if not variant.is_full %}(тип {{problem.type_ege.number}}){% endif %}
        {{problem.text|abbr|ziamath_filter|markdown|safe}}
      </div>
    {% if variant.is_full and forloop.counter == 22 %}
      <div class=instruction> В бланк ответов №&nbsp;1 перенесите только числа, не разделяя их пробелом или другим знаком. </div>
    {% endif %}
    {% if variant.is_full and forloop.counter == 23 %}
      <div class=instruction>Не забудьте перенести все ответы в бланк ответов №&nbsp;1 в соответствии с инструкцией по выполнению работы. Проверьте, чтобы каждый ответ был записан в строке с номером соответствующего задания.</div>
      <h2 class='center-flex print-new-page'>Часть 2</h2>
      {# <h2 class='center-flex'>Часть 2</h2> #}
      <div class=instruction> Для записи ответов на задания 24-30 используйте БЛАНК ОТВЕТОВ №&nbsp;2. Запишите сначала номер задания (24, 25 и т.д.), а затем решение соответствующей задачи. Ответы записывайте чётко и разборчиво. </div>
    {% endif %}
    {% if variant.is_full and forloop.counter == 24 %}
      <div class=instruction>Полное правильное решение каждой из задач 25-30 должно содержать законы и формулы, применение которых необходимо и достаточно для решения задачи, а также математические преобразования, расчёты с численным ответом и при необходимости рисунок, поясняющий решение.</div>
    {% endif %}
  {% endfor %}
  {% if variant.is_full %}
    <div class=instruction>Проверьте, чтобы каждый ответ был записан рядом с номером соответствующего задания.</div>
  {% endif %}
  {% if variant.show_answers %}
  <div class='center-flex mt50 fs130'>
    <a class='page bordered no-print' href={{variant.get_answers_url}}>Перейти к ответам</a>
  </div>
  {% endif %}
{% endblock %}
