asgiref==3.5.2
defusedxml==0.7.1
Django==3.2.4
django-cleanup==6.0.0
django-filter==22.1
django-sortedm2m==3.1.1
django-svg-image-form-field==1.0.1
importlib-metadata==6.0.0
latex2mathml==3.78.1
Markdown==3.3.3
Pillow==9.4.0
python-dotenv==0.21.0
pytz==2022.6
sorl-thumbnail==12.9.0
sqlparse==0.4.3
ziafont==0.11
ziamath==0.13
zipp==3.13.0
gunicorn
