    <script>
      window.MathJax = {
        tex: {
          processEscapes: true,
          inlineMath: [['$', '$']],
          macros: {
            eds: "\\mathcal{E}",
            la: "\\lambda",
            Ftr: "F_\\textsf{тр}",
            tg: "\\text{tg}",
            ctg: "\\text{ctg}",
            arctg: ["\\text{arctg}\\; #1", 1],
            a: "\\alpha",
            b: "\\beta",
            f: "\\varphi",
            tga: "\\tg{\\alpha}",
            ctga: "\\ctg{\\alpha}",
            tgb: "\\tg{\\beta}",
            tgf: "\\tg{\\varphi}",
            sina: "\\sin{\\alpha}",
            cosa: "\\cos{\\alpha}",
            sinb: "\\sin{\\beta}",
            cosb: "\\cos{\\beta}",
            sinf: "\\sin{\\varphi}",
            cosf: "\\cos{\\varphi}",
            dx: "\\Delta x",
            dE: "\\Delta E",
            dU: "\\Delta U",
            dT: "\\Delta T",
            dt: "\\Delta t",
            deg: "^\\circ",
            N: "\\;\\textsf{Н}",
            kg: "\\;\\textsf{кг}",
            me: "\\;\\textsf{м}",
            ms: "\\;\\textsf{м}/\\textsf{с}",
            cms: "\\;\\textsf{см}/\\textsf{с}",
            sec: "\\;\\textsf{с}",
            degc: "\\,{}^\\circ\\text{C}"
          }
        }
      };
    </script>
