{% extends "base.html" %}
{% block content %}
  <div class="card">
    <h3 class="card-title">Задача с id {{problem.id}}</h3>
    <p><b>Условие: </b></p>{{problem.text|linebreaks}}
    {% for image in text_images %}
      <img class="mx-auto d-block" src="{{image.path_to_image.url}}" width="600">
    {% endfor %}
    {% if problem.solution%}<p><b>Решение: </b></p>{{problem.solution|linebreaks}}{% endif %}
    {% for image in solution_images %}
      <img class="mx-auto d-block" src="{{image.path_to_image.url}}" width="600">
    {% endfor %}
    {% if problem.answer%}<p><b>Ответ: </b></p><p>{{problem.answer}}</p>{% endif %}
    {% for image in answer_images %}
      <img class="mx-auto d-block" src="{{image.path_to_image.url}}" width="600">
    {% endfor %}
    {% if problem.complexity%}<p><b>Сложность: </b>{{problem.complexity}}/10</p>{% endif %}
    {% if problem.source%}<p><b>Источник: </b>{{problem.source}}{% endif %}</p>
    {% if problem.category%}<p><b>Раздел: </b>{{problem.category}}{% endif %}</p>
    {% if problem.subcategory%}<p><b>Подраздел: </b>{{problem.subcategory}}{% endif %}</p>
    <p><b>Номер в ЕГЭ: </b>{{problem.type_ege}}</p>
    {% if problem.tags.all %}<p><b>Тэги:</b></p>
    {% for tag in problem.tags.all %}
      <p><li>{{ tag.name }}</li></p>
    {% endfor %}{% endif %}
    <p><b>Автор: </b>{{problem.author.username}}</p>
    <p><b>Дата добавления: </b>{{problem.date}}</p>
  </div>
{% endblock %}