{% extends "base.html" %}
{% load markdown_extras %}
{% load abbr %}

{% block content %}
  <div class="card">
    <h3 class="card-title">Задача #{{problem.id}}</h3>
    <div class="problem">{{problem.text|markdown|abbr|safe}}</div>
    {% for image in text_images %}
      <img class="mx-auto d-block" src="{{image.path_to_image.url}}" width="{{image.width}}">
    {% endfor %}
    {% if problem.solution%}<p><b>Решение: </b></p><div class="solution">{{problem.solution|markdown|safe}}</div>{% endif %}
    {% for image in solution_images %}
      <img class="mx-auto d-block" src="{{image.path_to_image.url}}" width="{{image.width}}">
    {% endfor %}
    {% if problem.answer%}<p><b>Ответ: </b></p>{{problem.answer|markdown|safe}}{% endif %}
    {% for image in answer_images %}
      <img class="mx-auto d-block" src="{{image.path_to_image.url}}" width="{{image.width}}">
    {% endfor %}
    {% if problem.complexity%}<p><b>Сложность: </b>{{problem.complexity}}/10</p>{% endif %}
    {% if problem.source%}<p><b>Источник: </b>{{problem.source}}{% endif %}</p>
    {% if problem.category%}<p><b>Раздел: </b>{{problem.category}}{% endif %}</p>
    {% if problem.subcategory%}<p><b>Подраздел: </b>{{problem.subcategory}}{% endif %}</p>
    <p><b>Номер в ЕГЭ: </b>{{problem.type_ege}}</p>
    {% if problem.tags.all %}<p><b>Тэги:</b></p>
    {% for tag in problem.tags.all %}
      <span class='tag'>{{ tag.name }}</span>
    {% endfor %}{% endif %}
    <p><b>Автор: </b>{{problem.author.username}}</p>
    <p><b>Дата добавления: </b>{{problem.date}}</p>
  </div>
{% endblock %}
