{% extends "base.html" %}
{% load markdown_extras %}
{% load abbr %}

{% block content %}
  <div class="card">
    <h1 class="card-title">Задача #{{problem.id}}
      {% if previous_problem %}
        <a class="lnk_btn no-print" href="/problems/{{problem.id|add:"-1"}}" title="#{{problem.id|add:"-1"}}">«</a>
      {% endif %}
      {% if next_problem %}
        <a class="lnk_btn no-print" href="/problems/{{problem.id|add:"+1"}}" title="#{{problem.id|add:"+1"}}">»</a>
      {% endif %}
    </h1>
    <div class="problem">{{problem.text|markdown|abbr|safe}}</div>
    {% if problem.solution%}<h2>Решение</h2><div class="solution">{{problem.solution|markdown|safe}}</div>{% endif %}
    {% if problem.answer%}<h2>Ответ </h2><div class="answer">{{problem.answer|markdown|safe}}</div>{% endif %}
    {% if problem.complexity%}<p><b>Сложность: </b>{{problem.complexity}}/10</p>{% endif %}
    {% if problem.source%}<p><b>Источник: </b>{{problem.source}}</p>{% endif %}
    {% if problem.category%}<p><b>Раздел: </b>{{problem.category}}</p>{% endif %}
    {% if problem.subcategory%}<p><b>Подраздел: </b>{{problem.subcategory}}</p>{% endif %}
    <p><b>Номер в ЕГЭ: </b>{{problem.type_ege}}</p>
    {% if problem.tags.all %}
      <b>Тэги:</b>
      {% for tag in problem.tags.all %}
        <span class='tag'>{{ tag.name }}</span>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
