{% extends "base.html" %}
{% load markdown_extras %}
{% load ziamath_filter %}
{% load abbr %}
{% load save_parameters %}
{% load static %}
{% load cache %}


{% block content %}
  <h1>{{title}}
    {% comment %} Для страниц с задачами по типам {% endcomment %}
    {% if previous_type %}
      <a class="lnk_btn no-print" href="/types/{{type_num|add:"-1"}}" title="Тип {{type_num|add:"-1"}}">«</a>
    {% endif %}
    {% if next_type %}
      <a class="lnk_btn no-print" href="/types/{{type_num|add:"+1"}}" title="Тип {{type_num|add:"+1"}}">»</a>
    {% endif %}
  </h1>

  <form method="get" class="no-print">
    {{ filter.form.as_p }}
    <input type="submit" />
  </form>

  {% include "includes/pagination.html" %}

  {% for problem in page_obj %}
  <div class="rel">
    <div class="id-in-list">
      <a href="{{problem.get_absolute_url}}"><span class='id-number bold'>#{{problem.id}}</span></a>
      <span class="compl">Сложность {{problem.complexity}}/10</span>
      <span class="compl">Тип {{problem.type_ege.number}}</span>
      {% if problem.source %}<span class="compl">Источник: {{problem.source}}</span>{% endif %}
        {% if request.user.is_staff and problem.variants.all %}
          <span class="compl no-solution">
            {% for variant in problem.variants.all %}
              <a href="{{variant.get_absolute_url}}">#{{variant.id}}</a>
            {% endfor %}
          </span>
        {% endif %}
      {% if not problem.solution %}<span class="compl no-solution">Без решения</span>{% endif %}
    </div>
    <div class="problem"> {{problem.text|abbr|ziamath_filter|markdown|safe}} </div>
  </div><hr class=mb20>
  {% empty %}
    <p>Ничего не нашлось {{":("}}</p>
    <p>Попробуйте другой фильтр.</p>
    <p>Поиск по тексту чувствителен к регистру и ищет только точное совпадение.
       Например, попробуйте «арик» вместо «Шарику».</p>
    <p>Сложность меняется в диапазоне от 1 до 10.</p>
    <p>Подраздел связан с разделом: не удастся найти задачи с подразделом
       «давление света» в разделе «влажность». Если не уверены в разделе, не
       заполняйте это поле, ищите только в подразделе.</p>
  {% endfor %}

  {% include "includes/pagination.html" %}
{% endblock %}
