{% extends "base.html" %}
{% load markdown_extras %}
{% load abbr %}
{% load save_parameters %}
{% load static %}

{% block content %}
    <h2>{{title}}</h2>
    <form method="get" class="no-print">
      {{ filter.form.as_p }}
      <input type="submit" />
    </form>
    {% for problem in page_obj %}
    <div class="rel">
      <p class="id-in-list">
        <a href="{{problem.get_absolute_url}}"><b class='id-number'>#{{problem.id}}</b></a>
        <span class="compl">Сложность {{problem.complexity}}/10</span>
        <span class="compl" style="float:right">{% if not problem.solution %}Без решения{% endif %}</span>
      </p>
      <div class="problem">{{problem.text|markdown|abbr|safe}}</div>
    </div><hr>
    {% empty %}
      <p>Ничего не нашлось {{":("}}</p>
      <p>Попробуйте другой фильтр.</p>
    {% endfor %}

  {% for page_number in page_obj.paginator.page_range %}
    <a
      href="?{% param_save page=page_number %}"
      class="{% if page_number == page_obj.number %}current{% endif %}">
      {{page_number}}
    </a>
  {% endfor %}
{% endblock %}
