html { overflow-y: scroll; }
body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin: 0px auto;
  width: 723px;
  max-width: 100%;
  font-family: Tahoma, Arial;
  text-align: justify;
  font-size: 12pt;
  margin-bottom:10ex;
}

/*
*.problem, .solution {
*  font-family: Times, 'Times New Roman', serif;
*  font-size: 115%;
*}
*/

.id-number {
  border: 2px solid #3377cc;
  border-radius: 3px;
  padding: 0px 2px 0px 2px;
}
.rel { position: relative; }


/*
*.id-in-list {
*  position: absolute;
*  right: 733px;
*  top:-1.8ex;
*  align:right;
*}
*@media screen and (max-width: 880px) {
*  .id-in-list { position:static; margin-bottom:-0.8ex; }
*}
*/

.id-in-list {
  margin-bottom:-10px;
}

.compl {
  font-size: 11pt;
  font-family: Arial;
}


.tag {
  border: 2px solid #3377cc;
  border-radius: 3px;
  padding: 2px 5px;
  line-height: 3.8ex;
  color: #3377cc;
}
a {
  text-decoration: none;
  color: #3377cc;
}
nav {
  margin: 5ex 0 4ex 0;
}
nav a {
  line-height: 2em;
  font-size: 115%;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.nav-right {
  float: right;
}
.nav-center {
  text-align: center;
  margin:0 0 0 15ex;
}
input[name="complexity_min"],
input[name="complexity_max"] {
  width: 3ex;
  text-align: center;
}
input[name="complexity_max"] {
  margin-left:3pt;
}
table {
  border-collapse: collapse;
}
table.change tr, td {
  border: 1px solid black;
  padding: 1ex;
}
ol {
  padding-left: 1.5em;
}

.row { display: flex; gap:3em; }
.col1 { flex: 10%; }
.col2 { flex: 20%; }
.col3 { flex: 30%; }
.col4 { flex: 40%; }
.col5 { flex: 50%; }
.col6 { flex: 60%; }
.col7 { flex: 70%; }
.col8 { flex: 80%; }
.col9 { flex: 90%; }
.mw200 { min-width: 200px; }
.mw300 { min-width: 300px; }
.mw400 { min-width: 400px; }
.mw500 { min-width: 500px; }

.center {
  display: flex;
  justify-content: center;
}

img.right {
  float:right;
  padding-left:1em;
  min-width: 100px;
}
.ml-20 {
  margin-left: 20px;
}
nav a.lnk_btn {
  display: inline-block;
  /*border: 2px solid #3377cc;*/
  border-radius: 3px;
  background-color: #3377ccaa;
  font-weight:900;
  color: white;
  line-height:inherit;
  padding: 2px 10px 3px;
}

.page {
  display: inline-block;
  border-radius: 3px;
  font-weight:900;
  line-height:inherit;
  padding: 2px 10px 3px;
  color: #3377ccaa;
  background-color: white;
}
.page.current {
  background-color: #3377ccaa;
  color: white;
}
.current_nav {
  border-bottom: solid 2px;
}
.white {color:white;}
.types-list {
	font-size:105%;
}
.types-item {
	font-size:105%;
  font-weight:900;
}


@media screen and (max-width: 880px) {
  nav, main { padding:0 9px; }
}
@media print {    
  .no-print, .no-print * {
      display: none !important;
  }
}


