html { overflow-y: scroll; }

body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin: 0px auto;
  width: 723px;
  max-width: 100%;
  /*font-family: 'STIX Two Text', 'Times New Roman', Times, serif;*/
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  font-size: 14pt;
  line-height: 17.5pt;
  margin-bottom:12ex;
}

.sans {
  font-family: Tahoma, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  text-align: left; 
  font-weight:bold;
  font-family: Tahoma, Arial, sans-serif;
}
h1, .h1 { font-size:21pt; line-height: 25pt;}
h2, .h2 { font-size:17pt; line-height: 21pt;}
h3, .h3 { font-size:15pt; line-height: 19pt;}
h4, .h4 { font-size:14pt; line-height: 18pt;}
h5, .h5 { font-size:13pt; line-height: 17pt;}
h6, .h5 { font-size:12pt; line-height: 16pt;}

.math-svg path,
.math-svg line,
.math-svg rect {
  stroke: black;
  stroke-width: 0.09;
}

.math-svg.display {
  display: block;
  margin: auto;
}


.problem {
  overflow-y: auto;   /* causes large margin-top for p */
  overflow-x: hidden;
}

.solution h1, .solution h2, .solution h3, .solution h4, .solution h5, .solution h6 {
  font-family: Tahoma, Arial, sans-serif;
}

.card-title{
  margin-bottom:0;
  line-height:1.8ex;
}

.bold {
  font-weight:900;
}

.id-number {
  border: 2px solid #3377cc;
  border-radius: 3px;
  padding: 0px 2px 0px 2px;
  font-family: Tahoma, Arial, sans-serif;
  font-size:12pt;
}
.id-in-var {
  display: inline-flex;
  justify-content: center;
  min-width:1.9em;
  border: 2px solid black;
  border-radius: 0px;
  padding: 0px 2px 0px 2px;
  font-weight:900;
  margin-right:1ex;
  margin-top:1ex;
}
.id-in-var + p>img {
  margin-top:1.4ex;
}
.id-in-var + p {
  margin-top:1ex;
}
.instruction {
  border: 2px solid black;
  border-radius: 0px;
  padding: 5px;
  margin-top:1ex;
  margin-bottom:2ex;
  font-weight:900;
  font-style:italic;
}
.rel { position: relative; }
form + .rel {
  margin-top:2.5ex;
}
div.rel:has(div.var-id-in-list) {
  min-height:3ex;
}

.id-in-list {
  margin-bottom:-10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 17pt;
}
.var-id-in-list {
  margin-bottom:-10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 15pt;
}
.compl {
  margin-right:1.9ex;
  font-size: 11pt;
  font-family: Arial;
  color: #333333;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.no-solution {
  margin-left:auto;
  order:2;
}
.id-in-list .compl:last-child {
  margin-right:0;
}
.id-in-list .compl:first-of-type,
.var-id-in-list .compl:first-of-type {
  margin-left:1.8ex;
}


.ans {
  border-bottom: 1.3px solid black;
  white-space: pre;
}

.tag_in_list {
  margin-top:3pt;
}

.tag {
  border: 2px solid #3377cc;
  border-radius: 3px;
  padding: 2px 5px;
  line-height: 3.8ex;
  color: #3377cc;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  white-space: nowrap;
}
a {
  text-decoration: none;
  color: #3377cc;
}
nav {
  font-size: 12.5pt;
  font-family: Tahoma, Arial, sans-serif;
  margin: 5ex 0 4ex 0;
  display: flex;
  justify-content: space-between;
  word-spacing: 6pt;
}
.nav-left, .ta-left {
  text-align:left;
}
.nav-right, .ta-right {
  text-align:right;
}
.ta-center {
  text-align: center;
}
nav a {
  line-height: 2em;
  font-size: 115%;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
label {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 12pt;
}

input[name="complexity_min"],
input[name="complexity_max"] {
  width: 3ex;
  text-align: center;
}
input[name="complexity_max"] {
  margin-left:3pt;
}

table {
  border-collapse: collapse;
}
table.change tr, td {
  border: 1px solid black;
  padding: 4pt;
  vertical-align: top;
  text-align: left;
}
.ans-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.ans-table td {
  vertical-align: middle;
}

.points-table tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.points-table td {
  vertical-align: middle;
  text-align: center;
}
.points-table th {
  background-color: #ffffff;
  text-align: center;
}
.points-table td:nth-child(2),
.points-table td:nth-child(5),
.points-table td:nth-child(8)
{
  font-weight: bold;
}
.spacer {
  width: 20px;
  border:none;
  background-color: #ffffff;
}

.ofa {
  overflow:auto;
}

ol,ul {
  padding-left: 1.5em;
  /* text-align: left; */
}

.row { display: flex; gap:3em; }
.col1 { flex: 10%; }
.col2 { flex: 20%; }
.col3 { flex: 30%; }
.col4 { flex: 40%; }
.col5 { flex: 50%; }
.col6 { flex: 60%; }
.col7 { flex: 70%; }
.col8 { flex: 80%; }
.col9 { flex: 90%; }

.fs110 { font-size: 110%; }
.fs120 { font-size: 120%; }
.fs130 { font-size: 130%; }
.fs12 { font-size: 12pt; }

.pl15  { padding-left: 15px; }
.mw50  { min-width: 50px; }
.mw100 { min-width: 100px; }
.mw110 { min-width: 110px; }
.mw120 { min-width: 120px; }
.mw130 { min-width: 130px; }
.mw140 { min-width: 140px; }
.mw150 { min-width: 150px; }
.mw160 { min-width: 160px; }
.mw170 { min-width: 170px; }
.mw180 { min-width: 180px; }
.mw190 { min-width: 190px; }
.mw200 { min-width: 200px; }
.mw210 { min-width: 210px; }
.mw220 { min-width: 220px; }
.mw230 { min-width: 230px; }
.mw240 { min-width: 240px; }
.mw250 { min-width: 250px; }
.mw300 { min-width: 300px; }
.mw400 { min-width: 400px; }
.mw500 { min-width: 500px; }
.ml-40 { margin-left: -40px; }
.ml20 { margin-left: 20px; }

.rmw50  { min-width: 50px;  float: right; padding-left: 1em; margin-top: 5px;}
.rmw100 { min-width: 100px; float: right; padding-left: 1em; margin-top: 5px;}
.rmw110 { min-width: 110px; float: right; padding-left: 1em; margin-top: 5px;}
.rmw120 { min-width: 120px; float: right; padding-left: 1em; margin-top: 5px;}
.rmw130 { min-width: 130px; float: right; padding-left: 1em; margin-top: 5px;}
.rmw140 { min-width: 140px; float: right; padding-left: 1em; margin-top: 5px;}
.rmw150 { min-width: 150px; float: right; padding-left: 1em; margin-top: 5px;}
.rmw160 { min-width: 160px; float: right; padding-left: 1em; margin-top: 5px;}
.rmw170 { min-width: 170px; float: right; padding-left: 1em; margin-top: 5px;}
.rmw180 { min-width: 180px; float: right; padding-left: 1em; margin-top: 5px;}
.rmw190 { min-width: 190px; float: right; padding-left: 1em; margin-top: 5px;}
.rmw200 { min-width: 200px; float: right; padding-left: 1em; margin-top: 5px;}
.rmw210 { min-width: 210px; float: right; padding-left: 1em; margin-top: 5px;}
.rmw220 { min-width: 220px; float: right; padding-left: 1em; margin-top: 5px;}
.rmw230 { min-width: 230px; float: right; padding-left: 1em; margin-top: 5px;}
.rmw240 { min-width: 240px; float: right; padding-left: 1em; margin-top: 5px;}
.rmw250 { min-width: 250px; float: right; padding-left: 1em; margin-top: 5px;}

.Mw100 { max-width: 100px; }
.Mw110 { max-width: 110px; }
.Mw120 { max-width: 120px; }
.Mw130 { max-width: 130px; }
.Mw140 { max-width: 140px; }
.Mw150 { max-width: 150px; }
.Mw160 { max-width: 160px; }
.Mw170 { max-width: 170px; }
.Mw180 { max-width: 180px; }
.Mw190 { max-width: 190px; }

.Mw200 { max-width: 200px; }
.Mw210 { max-width: 210px; }
.Mw220 { max-width: 220px; }
.Mw230 { max-width: 230px; }
.Mw240 { max-width: 240px; }
.Mw250 { max-width: 250px; }
.Mw260 { max-width: 260px; }
.Mw270 { max-width: 270px; }
.Mw280 { max-width: 280px; }
.Mw290 { max-width: 290px; }

.Mw300 { max-width: 300px; }
.Mw310 { max-width: 310px; }
.Mw320 { max-width: 320px; }
.Mw330 { max-width: 330px; }
.Mw340 { max-width: 340px; }
.Mw350 { max-width: 350px; }
.Mw360 { max-width: 360px; }
.Mw370 { max-width: 370px; }
.Mw380 { max-width: 380px; }
.Mw390 { max-width: 390px; }

.Mw400 { max-width: 400px; }
.Mw410 { max-width: 410px; }
.Mw420 { max-width: 420px; }
.Mw430 { max-width: 430px; }
.Mw440 { max-width: 440px; }
.Mw450 { max-width: 450px; }
.Mw460 { max-width: 460px; }
.Mw470 { max-width: 470px; }
.Mw480 { max-width: 480px; }
.Mw490 { max-width: 490px; }

.Mw500 { max-width: 500px; }
.Mw510 { max-width: 510px; }
.Mw520 { max-width: 520px; }
.Mw530 { max-width: 530px; }
.Mw540 { max-width: 540px; }
.Mw550 { max-width: 550px; }
.Mw560 { max-width: 560px; }
.Mw570 { max-width: 570px; }
.Mw580 { max-width: 580px; }
.Mw590 { max-width: 590px; }

.Mw600 { max-width: 600px; }
.Mw610 { max-width: 610px; }
.Mw620 { max-width: 620px; }
.Mw630 { max-width: 630px; }
.Mw640 { max-width: 640px; }
.Mw650 { max-width: 650px; }
.Mw660 { max-width: 660px; }
.Mw670 { max-width: 670px; }
.Mw680 { max-width: 680px; }
.Mw690 { max-width: 690px; }

.Mw700 { max-width: 700px; }
.Mw710 { max-width: 710px; }
.Mw720 { max-width: 720px; }
.Mw730 { max-width: 730px; }
.Mw740 { max-width: 740px; }
.Mw750 { max-width: 750px; }
.Mw760 { max-width: 760px; }
.Mw770 { max-width: 770px; }
.Mw780 { max-width: 780px; }
.Mw790 { max-width: 790px; }



.mt-5  { margin-top:-5px; }
.mt-10 { margin-top: -10px; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt30 { margin-top: 30px; }
.mt50 { margin-top: 50px; }
.mb-5 { margin-top: -5px; }
.mb5   { margin-bottom:5px; }
.mb10  { margin-bottom:10px; }
.mb15  { margin-bottom:15px; }
.mb20  { margin-bottom:20px; }

.center {
  margin: 0px auto;
  text-align: center;
}

.center-table {
  margin: 1em auto;
}
.center-table tr td {
  text-align: center;
  padding-left:  0.5em;
  padding-right: 0.5em;
  min-width: 25px;
}


.center-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-side-by-side {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap:4%;
}
.img-side-by-side img  {
  margin-bottom: 1.9ex;
}

.right {
  float: right;
  padding-left: 1em;
  margin-top: 5px;
}
a.lnk_btn {
  border-radius: 3px;
  background-color: #3377ccaa;
  font-weight:900;
  color: white;
  line-height:inherit;
  padding: 2px 10px 3px;
}
h1>a.lnk_btn {
  margin-left:1ex;
  padding: 0px 10px 1px;
  background-color: #ffffff;
  color: #000000;
}

.page {
  display: inline-block;
  border-radius: 3px;
  font-weight:900;
  line-height:inherit;
  padding: 2px 10px 3px;
  color: #3377ccaa;
  background-color: white;
}
.bordered {
  border: 3px solid #3377ccaa;
  padding: 3px 10px 7px 10px;
  border-radius: 5px;
}
.page.current {
  background-color: #3377ccaa;
  color: white;
}

.var-sort {
  display: inline-block;
  border-radius: 3px;
  font-weight:900;
  line-height:inherit;
  padding: 2px 10px 3px;
  color: #3377ccaa;
  background-color: white;
}
.var-sort.current {
  background-color: #3377ccaa;
  color: white;
}

.current_nav {
  border-bottom: solid 2px;
}
.white {color:white;}
.types-list {
	font-size:105%;
}
.type {
  margin-top:2pt;
}
.types-item {
	font-size:105%;
  font-weight:900;
}

.hidden {
  display:none;
}
.hidden::after {
  display: block;
  content: attr(data-content);
  height: 0;
  overflow: hidden;
}

.print-new-page {
  margin-top: 4em;
}

@media screen and (max-width: 880px) {
  nav, main { padding:0 9px; }
}

@media screen and (max-width: 480px) {
  .spacer { width: 4px; }
}

@media print {
  .math-svg path,
  .math-svg line,
  .math-svg rect {
    stroke: none;
  }
  div.problem {
    overflow: hidden;
  }
  div {
    break-inside: avoid;
  }
  .print-new-page {
    page-break-before: always;
  }
  .no-print, .no-print * {
      display: none !important;
  }
  .ofa {
    overflow:none;
  }
  .center-table tr td {
    text-align: center;
    padding-left:  0.4em;
    padding-right: 0.4em;
    min-width: 0px;
  }
}
