html { overflow-y: scroll; }
body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin: 0px auto;
  width: 723px;
  max-width: 100%;
  font-family: Tahoma, Arial;
  text-align: justify;
  font-size: 12pt;
}

/*
*.problem, .solution {
*  font-family: Times, 'Times New Roman', serif;
*  font-size: 115%;
*}
*/

.id-number {
  border: 2px solid #3377cc;
  border-radius: 3px;
  padding: 0px 2px 0px 2px;
}
.rel { position: relative; }


/*
*.id-in-list {
*  position: absolute;
*  right: 733px;
*  top:-1.8ex;
*  align:right;
*}
*@media screen and (max-width: 880px) {
*  .id-in-list { position:static; margin-bottom:-0.8ex; }
*}
*/

.id-in-list {
  margin-bottom:-10px;
}

.compl {
  font-size: 11pt;
  font-family: Arial;
}


.tag {
  border: 2px solid #3377cc;
  border-radius: 3px;
  padding: 2px 5px;
  color: #3377cc;
}
a {
  text-decoration: none;
  color: #3377cc;
}
nav {
  margin: 5ex 0 4ex 0;
}
nav a {
  line-height: 2em;
  font-size: 115%;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.nav-right {
  float: right;
}
.nav-center {
  text-align: center;
  margin:0 0 0 15ex;
}
input[name="complexity_min"],
input[name="complexity_max"] {
  width: 3ex;
  text-align: center;
}
input[name="complexity_max"] {
  margin-left:3pt;
}
table {
  border-collapse: collapse;
}
table.change tr, td {
  border: 1px solid black;
  padding: 1ex;
}
ol {
  padding-left: 1.5em;
}

.row { display: flex; gap:3em; }
.col1 { flex: 10%; }
.col2 { flex: 20%; }
.col3 { flex: 30%; }
.col4 { flex: 40%; }
.col5 { flex: 50%; }
.col6 { flex: 60%; }
.col7 { flex: 70%; }
.col8 { flex: 80%; }
.col9 { flex: 90%; }

.center {
  display: flex;
  justify-content: center;
}

img.right {
  float:right;
  padding-left:1em;
  min-width: 100px;
}
.ml-20 {
  margin-left: 20px;
}
.tmp {
  border: 2px solid #3377cc;
  border-radius: 3px;
  padding: 0px 2px 3px 2px;
}


@media screen and (max-width: 880px) {
  nav, main { padding:0 9px; }
}
@media print {    
  .no-print, .no-print * {
      display: none !important;
  }
}
